body,h1,h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
/* nav start */

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 8px ;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.logo-container img {
    width: 2.5rem;
}

.logo-text {
    font-size: 1rem;
}

.nav-icon-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-container i {
    color: darkgray;
    font-size: 1.1rem;
}

.left-nav-icon-container {
    margin-left: 9rem;
    display: flex;
    gap: 1rem;
}

.right-nav-icon-container{
    padding-right: 5rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: cadetblue;
}

.nav-icon-container i:hover {
    color: black;
    cursor: pointer;
    transition: 0.8s;
}

/* -------------------------- */

/* wrapper */

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: none;
  padding: 2.5rem;
  padding-top: 0;
  width: 16rem;
  position: relative;
  top: 0;
  z-index: 30;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


.sidebar-content{
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  
}

.sidebar-content p {
  color:#8c98aa;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.sidebar-container a{
  color: #253334;
  text-decoration: none;
  margin-top: 0.5rem;
}


.sidebar-content i {
  margin-right: 0.5rem;
  color: black;
}


/* main content */

.main-content {
  padding: 1.5rem;
  background-color: lightgray;
  flex: 1 1 0%;
}

.report-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}
/* card */

.card {
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity))
}
.card .card-header {
  border-bottom-width: 1px;
  padding: 1.5rem
}

.card .card-body {
  padding: 1.5rem
}

.card .card-footer {
  border-top-width: 1px;
  padding: 1.5rem
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.report-card-percent {
  border-radius: 50px;
  color: white;
  background-color: green;
  font-size: 12px;
  padding: 0.5rem;
}

.report-card-percent i {
  margin-left: 4px;
}

.card-bottom {
  margin-top: 2rem;
}

.card-bottom p {
  color: lightslategrey;
}

/* start Analytics section */

.analytics-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.analytics-update {
  background-color: lightcoral;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}

.analytics-update-body {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.analytics-update-body-img {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.analytics-update-body-img img {
  width: 100%;
  height: auto;
}



.analytics-update-info {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 40px;
}

.analytics-update-info ul {
  margin-top: 16px;
  font-size: 14px;
}






/* alert */

.analytics-cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alert {
  border-width: 1px;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem
}

.alert-dark {
  --bg-opacity: 1;
  background-color: #4a5568;
  background-color: rgba(74, 85, 104, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #1a202c;
  border-color: rgba(26, 32, 44, var(--border-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity))
}

.chart-cart-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  height: 100%;
}

.page-viewer-cart-top {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.unique-user-cart-top {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.sales-container {
  margin-top: 24px;
}

.sales-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightslategray;

}

.sales-header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sales-header-link a {
  margin-right: 1rem;
}

.sales-body {
  display: grid;
  grid-template-columns: repeat(1 , minmax(0, 1fr));
  gap: 24px;
  padding: 1.5rem;
}

.sales-body-content {
  padding: 2rem;
}

.sales-body-content-first {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.sales-body-content-second {
  display: flex;
  align-items: center;
}

.btn-shadow {
  text-align: center;
  width: 50%;
  text-transform: capitalize;
  --bg-opacity: 1;
  background-color: #4fd1c5;
  background-color: rgba(79, 209, 197, var(--bg-opacity));
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.25rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)

}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.5rem;
}

.numbers-card{
  margin-top: 1.5rem;
}

.numbers-body {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.numbers-body-first {
  padding: 8px;
  background-color: tomato;
  color: white;
  margin-right: 0.75rem;
  border-radius: 5px;
}

.numbers-body-second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers-body-second h1 {
  font-size: 1rem;
  font-weight: 700;

}

.numbers-body-second p {
  font-size: 1rem;
}


.stat-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
  
}


.stat-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightslategrey;
  padding: 1.5rem;

}

.stat-box-first{
display: flex;
align-items: center;
}

.stat-box-second {
display: flex;
align-items: center;
}

.stat-box-first h1 {
  margin-left: 1rem;
  font-size: 1em;
}

.recent-sales-container {
  grid-column: span 2 / span 2;
}

.table-auto {
  table-layout: auto;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}

td,
th {
  border: 1px solid lightslategray;
  padding: 10px 20px;
}

.tbody {
  color: lightslategray;
}

.th-data th {
 padding: 8px;
}

